<!DOCTYPE html>
<html>
  <head>
    <title>StudentContactBook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <p> Hello <%= current_user.first_name %> <%= current_user.last_name %>!!   <%= link_to "Log Out", destroy_user_session_path, method: 'delete'%> </p>
    <% else %>
      <%= link_to "Log in", new_user_session_path %>
      <%= link_to "Register", new_user_registration_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
